<section class="benefits">
  <div class="container">
    <h2 class="benefits__title title-2">
      На каждое направление <br />
      у нас отдельный технадзор:
    </h2>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-1.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">Общестрой</h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-2.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">Электрика и <br />слаботочные системы</h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-3.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">
        Отопление, вентиляция, <br />
        водоснабжение, канализация
      </h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-4.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">
        Благоустройство и дорожное <br />
        строительство
      </h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-5.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">Геодезия</h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-6.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">Фасад здания</h4>
    </div>
  </div>
  <div class="benefits__item" style="background-image: url('@img/global/benefit-7.jpg')">
    <div class="container">
      <h4 class="benefits__item-name title-4">Технологическое оборудование</h4>
    </div>
  </div>
  <div class="benefits__banner">
    <div class="container">
      <div class="benefits__banner-text">
        Скачайте презентацию и получите подробную информацию о нашей компании и услугах
      </div>
    </div>
    <a href="#" class="benefits__banner-download">
      <img src="@img/icons/download.svg" alt="download" />
      Скачать презентацию
    </a>
  </div>
</section>
