<section class="clients">
  <div class="clients__titleBox container">
    <h2 class="clients__title title-2">Наши клиенты</h2>
  </div>
  <div class="clients__inner">
    <div class="clients__item">
      <img src="@img/content/clients/client-1.jpg" alt="client 1" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-2.jpg" alt="client 2" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-3.jpg" alt="client 3" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-4.jpg" alt="client 4" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-5.jpg" alt="client 5" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-6.jpg" alt="client 6" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-1.jpg" alt="client 1" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-2.jpg" alt="client 2" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-3.jpg" alt="client 3" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-4.jpg" alt="client 4" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-5.jpg" alt="client 5" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-6.jpg" alt="client 6" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-1.jpg" alt="client 1" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-2.jpg" alt="client 2" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-3.jpg" alt="client 3" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-4.jpg" alt="client 4" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-5.jpg" alt="client 5" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-6.jpg" alt="client 6" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-1.jpg" alt="client 1" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-2.jpg" alt="client 2" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-3.jpg" alt="client 3" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-4.jpg" alt="client 4" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-5.jpg" alt="client 5" />
    </div>
    <div class="clients__item">
      <img src="@img/content/clients/client-6.jpg" alt="client 6" />
    </div>
  </div>
</section>
