<section class="corruption">
  <div class="corruption__inner container">
    <h2 class="corruption__title title-2">
      <div>Нулевая терпимость к коррупции</div>
      При подозрении, технадзор проходит полиграф
    </h2>

    <div class="corruption__image">
      <img src="@img/global/director.png" alt="director photo" />
    </div>
  </div>
  <div class="corruption__banner">
    <div class="corruption__banner-inner">
      <div class="corruption__banner-item">
        <div class="corruption__banner-title">Бикбаев Каримжан Нургалиевич</div>
        <p class="corruption__banner-text">Генеральный директор</p>
      </div>
      <div class="corruption__banner-item">
        <p class="corruption__banner-text">
          Опыт работы в <br />
          строительстве <span>20 лет</span>
        </p>
      </div>
    </div>
  </div>
</section>
