<section class="documentation">
  <div class="documentation__inner container">
    <div class="documentation__content">
      <h2 class="documentation__title title-2">
        Приводим в порядок документацию по всем видам работ:
      </h2>
      <div class="documentation__box">
        <ul class="documentation__list">
          <li class="documentation__list-item">Земляные</li>
          <li class="documentation__list-item">Фасадные</li>
          <li class="documentation__list-item">Отделочные</li>
          <li class="documentation__list-item">Монтажные</li>
          <li class="documentation__list-item">Свайные</li>
        </ul>
        <ul class="documentation__list">
          <li class="documentation__list-item">Гидроизоляционные</li>
          <li class="documentation__list-item">Кровельные</li>
          <li class="documentation__list-item">Каменные</li>
          <li class="documentation__list-item">Монолитные</li>
          <li class="documentation__list-item">Спец. работы (электрика, сантехника)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
