<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />

  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>@@title</title>

  <meta name="description" content="..." />

  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="email=no" />

  <link rel="stylesheet" href="css/style.min.css" type="text/css" media="all" />
  <link rel="shortcut icon" href="@img/global/favicon.svg" type="image/x-icon" />
</head>
