<section class="info">
  <div class="info__slider swiper">
    <div class="swiper-wrapper">
      <div class="info__item swiper-wrapper">
        <div class="info__item-box">
          <div class="info__item-description">Работая с нами вы экономите</div>
          <h3 class="info__item-title title-3">
            За 10 лет сохранили для наших клиентов более 7 000 000 000 ₸
          </h3>
          <ul class="info__item-list">
            <li class="info__item-text">
              Объясняем как сэкономить, использовать более выгодные и не менее качественные
              материалы
            </li>
            <li class="info__item-text">
              Указываем на финансовые, временные потери, перерасход материала
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
