<section class="personal">
  <div class="personal__inner container">
    <div class="personal__content">
      <div class="personal__content-box">
        <h2 class="personal__content-title title-2">Все сотрудники работают в единой IT-системе</h2>
        <p class="personal__content-text">
          Все рабочие процессы оцифрованы и прозрачны: управление задачами, коммуникация
          и отчётность онлайн
        </p>
        <ul class="personal__content-list">
          <li class="personal__content-item">
            Вы можете удаленно контролировать подрядчиков через ПК или смартфон
          </li>
          <li class="personal__content-item">
            За счет эффективного контроля повышается дисциплина подрядчиков
          </li>
          <li class="personal__content-item">
            IT система позволяет выявлять систематические ошибки и исправлять их
          </li>
        </ul>
      </div>
      <div class="personal__content-apps">
        <a href="#" class="personal__content-app">
          <img src="@img/icons/appstore.svg" alt="appstore" />
        </a>
        <a href="#" class="personal__content-app ml-16">
          <img src="@img/icons/googleplay.svg" alt="googleplay" />
        </a>
      </div>
    </div>
    <div class="personal__image">
      <img src="@img/global/iphone-12.png" alt="iphone image" />
      <div class="personal__content-apps mobile-apps">
        <a href="#" class="personal__content-app">
          <img src="@img/icons/appstore.svg" alt="appstore" />
        </a>
        <a href="#" class="personal__content-app ml-16">
          <img src="@img/icons/googleplay.svg" alt="googleplay" />
        </a>
      </div>
    </div>
  </div>
</section>
