<section class="projects">
  <div class="projects__inner container">
    <h2 class="projects__title title-2">
      Наши проекты в Казахстане <br />
      и Узбекистане
    </h2>
    <div class="projects__box">
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-1.jpg" alt="" />
        </div>
        <div class="projects__item-name">Отель Hilton Astana 5</div>
      </div>
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-2.jpg" alt="" />
        </div>
        <div class="projects__item-name">Национальный Банк Казахстана</div>
      </div>
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-3.jpg" alt="" />
        </div>
        <div class="projects__item-name">Легкоатлетический СК "Qazaqstan"</div>
      </div>
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-4.jpg" alt="" />
        </div>
        <div class="projects__item-name">Сеть АЗС "КазМунайГаз"</div>
      </div>
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-5.jpg" alt="" />
        </div>
        <div class="projects__item-name">Завод "Казфосфат"</div>
      </div>
      <div class="projects__item">
        <div class="projects__item-image">
          <img src="@img/content/projects/item-6.jpg" alt="" />
        </div>
        <div class="projects__item-name">Завод "Modex"</div>
      </div>
    </div>
  </div>
</section>
