<section class="services">
  <div class="services__inner container">
    <h2 class="services__title title-2">Наши услуги</h2>
    <div class="services__content">
      <div class="services__content-col">
        <div class="services__content-item">Технический надзор</div>
        <div class="services__content-item">Техническое обследование</div>
        <div class="services__content-item">Сопровождение проектов по ДДУ</div>
        <div class="services__content-item">Разработка и адаптация техкарт</div>
        <div class="services__content-item">Геологические изыскания</div>
        <div class="services__content-item">Топосъемка</div>
      </div>
      <div class="services__content-col">
        <div class="services__content-item">Управление проектами</div>
        <div class="services__content-item">Финансово технический аудит</div>
        <div class="services__content-item">Услуги ПТО</div>
        <div class="services__content-item">Консалтинг в строительстве</div>
        <div class="services__content-item">Проектирование</div>
        <div class="services__content-item">Авторский надзор</div>
      </div>
    </div>
  </div>
</section>
