:root {
  --doc-height: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0 !important;
}

.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: clip !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 140% !important;
  color: $dark-accent;
}

section {
  overflow-x: clip !important;
}
