<section class="clients">
  <div class="clients__titleBox container">
    <h2 class="clients__title title-2">Наши клиенты</h2>
  </div>
  <div class="clients__inner">
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-1.webp" type="image/webp"><img src="images/content/clients/client-1.jpg" alt="client 1" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-2.webp" type="image/webp"><img src="images/content/clients/client-2.jpg" alt="client 2" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-3.webp" type="image/webp"><img src="images/content/clients/client-3.jpg" alt="client 3" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-4.webp" type="image/webp"><img src="images/content/clients/client-4.jpg" alt="client 4" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-5.webp" type="image/webp"><img src="images/content/clients/client-5.jpg" alt="client 5" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-6.webp" type="image/webp"><img src="images/content/clients/client-6.jpg" alt="client 6" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-1.webp" type="image/webp"><img src="images/content/clients/client-1.jpg" alt="client 1" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-2.webp" type="image/webp"><img src="images/content/clients/client-2.jpg" alt="client 2" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-3.webp" type="image/webp"><img src="images/content/clients/client-3.jpg" alt="client 3" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-4.webp" type="image/webp"><img src="images/content/clients/client-4.jpg" alt="client 4" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-5.webp" type="image/webp"><img src="images/content/clients/client-5.jpg" alt="client 5" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-6.webp" type="image/webp"><img src="images/content/clients/client-6.jpg" alt="client 6" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-1.webp" type="image/webp"><img src="images/content/clients/client-1.jpg" alt="client 1" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-2.webp" type="image/webp"><img src="images/content/clients/client-2.jpg" alt="client 2" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-3.webp" type="image/webp"><img src="images/content/clients/client-3.jpg" alt="client 3" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-4.webp" type="image/webp"><img src="images/content/clients/client-4.jpg" alt="client 4" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-5.webp" type="image/webp"><img src="images/content/clients/client-5.jpg" alt="client 5" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-6.webp" type="image/webp"><img src="images/content/clients/client-6.jpg" alt="client 6" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-1.webp" type="image/webp"><img src="images/content/clients/client-1.jpg" alt="client 1" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-2.webp" type="image/webp"><img src="images/content/clients/client-2.jpg" alt="client 2" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-3.webp" type="image/webp"><img src="images/content/clients/client-3.jpg" alt="client 3" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-4.webp" type="image/webp"><img src="images/content/clients/client-4.jpg" alt="client 4" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-5.webp" type="image/webp"><img src="images/content/clients/client-5.jpg" alt="client 5" /></picture>
    </div>
    <div class="clients__item">
      <picture><source srcset="images/content/clients/client-6.webp" type="image/webp"><img src="images/content/clients/client-6.jpg" alt="client 6" /></picture>
    </div>
  </div>
</section>
