<section class="corruption">
  <div class="corruption__inner container">
    <h2 class="corruption__title title-2">
      <span>Нулевая терпимость к коррупции</span>
      При подозрении, технадзор проходит полиграф
    </h2>
    <div class="corruption__image">
      <picture><source srcset="images/global/director.webp" type="image/webp"><img src="images/global/director.png" alt="director photo" /></picture>
    </div>
  </div>
  <div class="corruption__banner">
    <div class="corruption__banner-inner">
      <div class="corruption__banner-item">
        <div class="corruption__banner-title">Бикбаев Каримжан Нургалиевич</div>
        <p class="corruption__banner-text">Генеральный директор</p>
      </div>
      <div class="corruption__banner-item">
        <p class="corruption__banner-text">
          Опыт работы в <br />
          строительстве <span>20 лет</span>
        </p>
      </div>
    </div>
  </div>
</section>
