<header class="header scroll-top">
  <div class="header__inner">
    <a href="#" class="header__logo">
      <img src="images/global/logo-small.svg" alt="logo" />
    </a>
    <div class="header__menu">
      <a href="tel:+77767771761" class="header__phone"> +7 776 777-17-61 </a>
      <a href="tel:+77767771761" class="header__call"> Заказать звонок </a>
      <a href="#" class="header__whatsapp">
        <img src="images/icons/viber.svg" alt="whatsapp" />
      </a>
      <a href="#" class="header__whatsapp">
        <img src="images/icons/whatsapp.svg" alt="whatsapp" />
      </a>
      <a href="#" class="header__whatsapp">
        <img src="images/icons/telegram.svg" alt="whatsapp" />
      </a>
    </div>
  </div>
</header>
