<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />

  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>@@title</title>

  <meta name="description" content="..." />

  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="email=no" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@600&display=swap&_v=20230322124555"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/style.min.css?_v=20230322124555" type="text/css" media="all" />
  <link rel="shortcut icon" href="images/global/favicon.svg" type="image/x-icon" />
</head>
