<section class="info">
  <div class="info__slider swiper">
    <div class="swiper-wrapper">
      <div class="info__item swiper-slide">
        <div class="info__item-image">
          <picture><source srcset="images/content/info/item-1.webp" type="image/webp"><img src="images/content/info/item-1.jpg" alt="slider item image" /></picture>
        </div>
        <div class="info__item-content">
          <div class="info__item-box">
            <div class="info__item-description">Работая с нами вы экономите</div>
            <h3 class="info__item-title title-3">
              За 10 лет сохранили для наших клиентов более 7 000 000 000 ₸
            </h3>
            <ul class="info__item-list">
              <li class="info__item-text">
                Объясняем как сэкономить, использовать более выгодные и не менее качественные
                материалы
              </li>
              <li class="info__item-text">
                Указываем на финансовые, временные потери, перерасход материала
              </li>
            </ul>
          </div>
          <div class="info__item-box">
            <div class="info__item-description">Примеры:</div>
            <div class="info__item-block">
              <h5 class="info__item-title title-5">
                На проекте в г. Астана сохранили заказчику более 100 000 000 ₸ на монолитных
                работах:
              </h5>
              <ul class="info__item-list">
                <li class="info__item-text">
                  Объясняем как сэкономить, использовать более выгодные и не менее качественные
                  материалы
                </li>
                <li class="info__item-text">
                  Указываем на финансовые, временные потери, перерасход материала
                </li>
              </ul>
            </div>
            <div class="info__item-block">
              <h5 class="info__item-title title-5">
                На проекте в г. Алматы сохранили более 22 000 000 ₸
              </h5>
              <ul class="info__item-list">
                <li class="info__item-text">
                  К нам обратилась компания, им уже предоставили справки выполненных работ, наши
                  специалисты, включая геодезиста, выполнили выездную проверку, сделали полный
                  перерасчет и выявили завышение бюджета на 35%.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="info__item swiper-slide">
        <div class="info__item-image">
          <picture><source srcset="images/content/info/item-2.webp" type="image/webp"><img src="images/content/info/item-2.jpg" alt="slider item image" /></picture>
        </div>
        <div class="info__item-content">
          <div class="info__item-box">
            <div class="info__item-description">Работая с нами вы экономите</div>
            <h3 class="info__item-title title-3">
              Бесплатно оптимизируем ваш проект, помогаем исключить или улучшить процессы без потери
              качества
            </h3>
            <ul class="info__item-list">
              <li class="info__item-text">
                На проекте в г. Астана мы бесплатно сохранили заказчику более 70 000 000 тенге.
                Заказчику посчитали стоимость доп. работ на 140 000 000 тенге, после нашей
                оптимизации стоимость сократилась в 2 раза.
              </li>
              <li class="info__item-text">
                На проекте в г. Семей мы бесплатно сохранили заказчику 3 000 000 тенге, провели
                оптимизацию работ по фасаду.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info__item swiper-slide">
        <div class="info__item-image">
          <picture><source srcset="images/content/info/item-3.webp" type="image/webp"><img src="images/content/info/item-3.jpg" alt="slider item image" /></picture>
        </div>
        <div class="info__item-content">
          <div class="info__item-box">
            <div class="info__item-description">Работая с нами вы экономите</div>
            <h3 class="info__item-title title-3">Контролируем процесс на всех уровнях</h3>
            <ul class="info__item-list">
              <li class="info__item-text">
                Проводим дни качества с присутствием директоров со стороны заказчика, генподрядчика,
                субподрядчика. Каждый видит объективную картину. Это дисциплинирует, повышает
                качество, снижает вероятность ошибки и экономит деньги на ее исправление.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info__item swiper-slide">
        <div class="info__item-image">
          <picture><source srcset="images/content/info/item-4.webp" type="image/webp"><img src="images/content/info/item-4.jpg" alt="slider item image" /></picture>
        </div>
        <div class="info__item-content">
          <div class="info__item-box">
            <div class="info__item-description">Работая с нами вы экономите</div>
            <h3 class="info__item-title title-3">
              Бесплатно оптимизируем проект до прохождения государственной экспертизы:
            </h3>
            <ul class="info__item-list">
              <li class="info__item-text">
                На проекте в г. Астана исключили возможность подтопления подвальных помещений (при
                анализе проекта нами выявлена опасность подтопления).
              </li>
              <li class="info__item-text">
                На проекте в г. Шымкент внесли корректировки в планировку квартир - это увеличило
                скорость их продажи.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="info__slider-paginationWrapper">
      <div class="info__slider-pagination"></div>
    </div>
  </div>
</section>
