.benefits {
  margin-bottom: 122px;
  &__title {
    background: linear-gradient(
      93.98deg,
      #161616 5.56%,
      rgba(66, 66, 66, 0.73) 87.58%,
      rgba(56, 56, 56, 0.38) 100.52%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 40px;
  }
  &__item {
    @extend %image;
    margin-bottom: 1px;
    padding-top: 50px;
    height: 220px;
  }

  &__banner {
    border-bottom: 1px solid $accent;
    position: relative;
  }
  &__banner-text {
    max-width: 856px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $dark-accent;
    padding: 52px 0;
  }
  &__banner-download {
    background-color: $accent;
    position: absolute;
    padding: 45px 50px;
    height: 100%;
    top: 0;

    right: 0;
    bottom: 0;

    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: $white;
    max-width: 679px;
    width: 100%;

    img {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1720px) {
    &__banner .container {
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: 1560px) {
    &__banner-download {
      max-width: 420px;
    }
    &__banner-text {
      max-width: 620px;
    }
  }
  @media (max-width: 1100px) {
    &__banner {
      display: block;

      .container {
        padding: 0;
      }
    }
    &__banner-text {
      padding: 25px 30px;
      max-width: 100%;
      width: 100%;
    }
    &__banner-download {
      position: static;
      max-width: 100%;
      width: 100%;
      padding: 34px 30px;
    }
  }
  @media (max-width: 960px) {
    &__title {
      margin-bottom: 30px;
    }
    &__item {
      height: 130px;
      padding-top: 30px;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 80px;
    &__title {
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    &__item {
      height: 100px;
      padding-top: 20px;
    }
    &__banner-text {
      padding: 20px;
    }
    &__banner-text,
    &__banner-download {
      font-size: 14px;
      line-height: 140%;
    }
    &__banner-download {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}
