.clients {
  margin-bottom: 130px;
  &__title {
    margin-bottom: 40px;
    letter-spacing: 0.01em;
    font-feature-settings: 'kern' off;

    background: linear-gradient(
      93.98deg,
      #161616 5.56%,
      rgba(66, 66, 66, 0.73) 87.58%,
      rgba(56, 56, 56, 0.38) 100.52%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-top: 1px solid #c1c1c1;
    margin-right: -1px;
  }
  &__item {
    padding: 30px;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 190px;
    }
  }
}
