.documentation {
  @extend %image;
  background-image: url('../images/global/documentation-bg.jpg');
  padding-top: 80px;
  margin-bottom: 130px;

  &__image {
    display: none;
  }
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__content {
    padding: 60px 60px 50px;
    max-width: 791px;
    background-color: $white;
  }
  &__title {
    margin-bottom: 40px;
    letter-spacing: 0.01em;
    font-feature-settings: 'kern' off;

    background: linear-gradient(
      93.53deg,
      #161616 5.55%,
      rgba(66, 66, 66, 0.73) 104.37%,
      rgba(56, 56, 56, 0.38) 119.97%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__list + .documentation__list {
    margin-left: 32px;
  }
  &__list-item + .documentation__list-item {
    margin-top: 15px;
  }
  &__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $dark-accent;
    padding-left: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 25px;
      height: 2px;
      background-color: $dark-accent;
    }
  }

  @media (max-width: 960px) {
    background: $white;
    &__image {
      display: block;
      margin: 0 -20px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__inner {
      display: block;
    }
    &__content {
      max-width: 100%;
      width: 100%;
      padding: 0 20px;
      padding-top: 60px;
      padding-bottom: 50px;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 40px;
    padding-top: 0;
    &__title {
      font-size: 24px;
      line-height: 110%;
    }
    &__box {
      display: block;
    }
    &__list + .documentation__list {
      margin-top: 12px;
      margin-left: 0;
    }
    &__list-item {
      font-size: 18px;
      line-height: 150%;
      padding-left: 22px;
      &::before {
        width: 10px;
      }
    }
    &__list-item + .documentation__list-item {
      margin-top: 12px;
    }
    &__content {
      padding: 40px 0;
    }
  }
}
