.footer {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: $dark-accent;

  &__logo {
    margin-bottom: 20px;
    max-width: 164px;
  }
  &__contacts {
    border-bottom: 1px solid #2c3046;
    padding-bottom: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__main-text + .footer__main-text {
    margin-top: 10px;
  }
  &__main-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.6;
  }
  &__main-col {
    flex: none;
  }
  &__main-call {
    margin-top: 20px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;

    a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #7398fa;
      display: block;
    }
  }
  &__contacts-col {
    margin-left: 32px;
  }
  &__main-whatsapp {
    margin-left: 25px;
  }
  &__contacts-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
  }
  &__contacts-colItem + .footer__contacts-colItem {
    margin-top: 32px;
  }
  &__contacts-colItem {
    padding-left: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../images/icons/map.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
    }
  }
  &__contacts-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #cecfd4;
    font-style: normal;
  }
  &__license {
    padding-bottom: 24px;
    border-bottom: 1px solid #2c3046;
    margin-bottom: 25px;
  }
  &__license-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 15px;
  }
  &__license-inner {
    display: flex;
    justify-content: space-between;
  }
  &__license-col + .footer__license-col {
    margin-left: 32px;
  }
  &__license-col {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
    max-width: 618px;
    width: 100%;
    p + p {
      margin-top: 15px;
    }
  }
  &__copy {
    display: flex;
    justify-content: space-between;
  }
  &__copy-linkBox {
    display: flex;
    justify-content: space-between;
    max-width: 856px;
    width: 100%;
    margin-left: 32px;
  }
  &__copy-text,
  &__copy-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.6);
  }
  &__copy-link {
    margin-left: 20px;
  }

  @media (max-width: 960px) {
    &__contacts {
      flex-wrap: wrap;
    }
    &__contacts-col {
      width: 50%;
      margin: 0;
      margin-bottom: 20px;
    }
    &__license {
      margin-bottom: 20px;
    }
    &__license-inner {
      display: block;
    }
    &__license-col {
      max-width: 100%;
      width: 100%;
      font-size: 12px;
      p + p {
        margin-top: 10px;
      }
    }
    &__license-col + .footer__license-col {
      margin-left: 0;
      margin-top: 28px;
    }
    &__copy {
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    &__copy-link {
      width: 50%;
      margin: 0;
      margin-top: 20px;
      padding: 0 10px;
    }
    &__copy-text {
      margin-top: 20px;
      width: 50%;
      padding: 0 10px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 30px;
    &__logo {
      margin-bottom: 15px;
    }
    &__contacts {
      display: block;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    &__contacts-text {
      font-size: 14px;
    }
    &__main-text {
      font-size: 14px;
    }
    &__main-col {
      margin-bottom: 30px;
    }
    &__contacts-col {
      width: 100%;
      max-width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__contacts-colItem + .footer__contacts-colItem {
      margin-top: 20px;
    }
    &__copy {
      display: block;
    }
    &__license {
      margin-bottom: 10px;
    }
    &__copy-text,
    &__copy-link {
      font-size: 12px;
      max-width: 100%;
      width: 100%;
      margin: 0;
      margin-top: 20px;
    }
  }
}
