.header {
  position: relative;
  z-index: 5;
  &.scroll-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-200px);
    transition: all 0.3s;
    background-color: $dark-accent;
    z-index: 100;
    border-bottom: 1px solid transparent;
    &.active {
      transform: translateY(0);
    }
    .header__inner {
      max-width: 1340px;
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
    }
  }

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  &__logo img {
    height: 45px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1880px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__call,
  &__phone {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $white;
  }
  &__call {
    padding: 21px 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-top: none;
    margin-left: 42px;
  }
  &__whatsapp {
    padding: 21px 28px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__burger {
    display: none;
    width: 20px;
    cursor: pointer;
    span {
      transition: all 0.3s;
      display: block;
      height: 2px;
      border-radius: 2px;
      width: 100%;
      margin-bottom: 4px;
      background-color: $white;
      width: 100%;
    }
    &.active {
      span {
        &:nth-child(2) {
          opacity: 0;
        }
        &:first-child {
          width: 100%;
          transform: translateY(6.2px) rotate(-135deg);
        }
        &:last-child {
          width: 100%;
          transform: translateY(-6.2px) rotate(135deg);
        }
      }
    }
  }

  @media (max-width: 768px) {
    &.active {
      background-color: $accent;
      transition: all 0.3s;
    }
    margin-bottom: 58px;
    border-bottom: none;
    transition: all 0.1s;
    &__logo img {
      height: 30px;
    }
    &__inner {
      padding: 18px 20px;
    }
    &__menu {
      display: none;
    }
    &__burger {
      display: block;
    }
  }
}

.header-mobile {
  background-color: $accent;
  position: fixed;
  top: 0;
  bottom: -200px;
  right: 0;
  left: 0;
  z-index: 4;
  transform: translateY(-1500px);
  transition: all 0.5s;

  &.active {
    transform: translateY(0);
  }

  &__box {
    padding: 20px;
    padding-top: 100px;
    overflow-y: auto;
    height: 100vh;
    height: var(--doc-height);
  }
  &__phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 40px;
    color: $white;
  }
  .footer__contacts-col {
    margin-bottom: 20px;
  }
}
