.personal {
  @extend %image;
  background-image: url('../images/global/personal-bg.svg');
  padding-top: 110px;
  padding-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__content {
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content-title {
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    font-feature-settings: 'kern' off;

    background: linear-gradient(
      94.27deg,
      #161616 5.57%,
      rgba(66, 66, 66, 0.73) 95.59%,
      rgba(56, 56, 56, 0.38) 109.8%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__content-text {
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__content-list {
    max-width: 530px;
    width: 100%;
  }
  &__content-item + .personal__content-item {
    border-top: 1px solid #e6e6e6;
    padding-top: 12px;
    margin-top: 12px;
    &::before {
      top: 12px;
    }
  }
  .mobile-apps {
    display: none;
  }
  &__content-item {
    position: relative;
    width: 100%;
    padding-left: 39px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url('../images/icons/checked-personal.svg');
    }
  }
  &__content-box {
    margin-bottom: 40px;
  }

  &__image {
    margin-left: 100px;
  }

  @media (max-width: 1366px) {
    &__image {
      margin-left: 20px;
    }
  }
  @media (max-width: 960px) {
    background-image: url('../images/global/personal-bg-tablet.svg');
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 100px;
    &__content {
      max-width: 345px;
      &-text {
        font-size: 16px;
        line-height: 140%;
      }
      &-item {
        font-size: 14px;
        line-height: 150%;
        padding-left: 35px;
        &::before {
          width: 20px;
          height: 20px;
          background-position: center;
        }
      }
      &-apps {
        display: none;
      }
      &-apps.mobile-apps {
        display: flex;
        margin-top: 25px;
        img {
          height: 41px;
        }
      }
    }
    &__image {
      margin-left: 0;
    }
    &__image img {
      height: 340px;
    }
  }
  @media (max-width: 768px) {
    background-image: url('../images/global/personal-bg-mobile.svg');
    background-position: top right;
    margin-bottom: 80px;
    &__inner {
      flex-direction: column;
    }
    &__image {
      order: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }
}
