.top {
  height: 100vh;
  height: var(--doc-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  &__inner {
    @extend %image;
    background-image: url('../images/global/top-bg.jpg');
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__list {
    max-width: 755px;
    margin-bottom: 60px;
  }
  &__list-item + .top__list-item {
    margin-top: 13px;
  }
  &__list-item {
    position: relative;
    padding-left: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $white;
    &::before {
      content: '';
      width: 20px;
      height: 2px;
      position: absolute;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  &__buttons {
    display: flex;
    align-items: stretch;
  }
  &__button-video {
    border: 1px solid #ffffff;
    @include bounce-infinity(2.2s);
  }
  &__button-write {
    margin-left: 12px;
    margin-right: 40px;
  }

  &__banner {
    background-color: $dark-accent;
    color: #fff;
    border-top: 1px solid #535667;
  }
  &__banner-inner {
    display: flex;
  }
  &__banner-item {
    // max-width: 400px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: 15px 0;

    &--center {
      padding: 15px 20px;
      // margin: 20px 0;
      border-right: 1px solid #535667;
      border-left: 1px solid #535667;
      // flex: none;
    }
  }
  #counterArea {
    padding-right: 78px;
  }
  &__banner-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    display: inline-block;
    /* identical to box height */

    text-align: center;

    background: radial-gradient(
        86.54% 276.13% at 42.5% 26.92%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;

    .suffix {
      position: absolute;
      right: 0;
      bottom: 0;
      font-weight: 700;
      font-size: 54px;
      line-height: 66px;
      /* identical to box height */

      text-align: center;

      background: radial-gradient(
          232.15% 2100.55% at 12.63% 0%,
          #ffffff 0%,
          rgba(255, 255, 255, 0.704835) 32.57%,
          rgba(255, 255, 255, 0.397803) 79.99%,
          rgba(255, 255, 255, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &__banner-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    opacity: 0.7;
  }

  @media (max-width: 960px) {
    &__button-video {
      margin-top: 15px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 25px;
    }
    &__buttons {
      a {
        white-space: nowrap;
      }
      flex-wrap: wrap;
    }
    &__list-item {
      font-size: 16px;
      line-height: 140%;
    }
    &__list {
      margin-bottom: 70px;
    }
    &__banner-title {
      font-size: 32px;
      line-height: 39px;
      .suffix {
        font-size: 32px;
        line-height: 39px;
      }
    }
    &__banner-item--center {
      border: none;
    }
    &__banner-info {
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      white-space: pre-wrap;
    }
    &__banner-item {
      padding: 20px 5px;
    }
    &__banner-inner {
      padding: 0;
    }
    #counterArea {
      padding-right: 50px;
    }
  }
  @media (max-width: 768px) {
    height: auto !important;
    &__title {
      margin-bottom: 25px;
      br {
        display: none;
      }
    }
    &__subtitle {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 140%;
    }
    &__list {
      margin-bottom: 80px;
    }
    &__list-item {
      font-size: 14px;
      line-height: 140%;
      padding-left: 21px;
      &::before {
        width: 12px;
        height: 2px;
      }
    }
    &__buttons {
      display: block;
      margin-bottom: 78px;
    }
    &__button-write {
      margin: 15px 0;
    }
    #counterArea {
      padding-right: 28px;
    }
    &__banner-title {
      font-size: 18px;
      line-height: 22px;
      .suffix {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &__banner-info {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
